/* ImageModal.module.css */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.8); /* Dark background */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.content {
  position: relative;
  background: transparent;
  border: none;
  padding: 0;
  max-width: 90%;
  max-height: 90%;
  overflow: hidden; /* Prevent scrollbars */
  display: flex;
  justify-content: center;
  align-items: center;
}



.content img {
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;
  border-radius: 8px;
}
